@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Web Application was created for user's to create a profile of their family history. <br />
   This WEb Application was built using C#/.NET Framework. Utilizing JavaScript, HTML, CSS, and Bootstrap.</p>
