@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Leslie Rox<br />
    Charlotte, NC 28213<br />
    <abbr title="Phone">P:</abbr>
    614.441.1028
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">lnrox21@outlook.com</a><br />
    <strong>LinkedIn:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>