@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Know They Self</h1>
    <p class="lead">Let's get started.<br />
                    Create your User Profile so we can take a look at your family medical history!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Family Medical History</h2>
        <p>
            Knowing your family health history can better prepare you for disease prevention and early detection.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>"Prevention is better than a cure!"</h2>
        <p>
            Prevention is the act of stopping something from happening or avoiding it altogether. So, the proverbial saying prevention is better than cure means that it is sensible to stop a bad thing or an illness from happening in the first place than to have to deal with awful problems, worse health issues or damages later.<br />
            While knowing you family's medical history will not guarantee the prevention of any condition or disease, it can definitely give you a head start in being as proactive as possible about your health.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Medical Disclaimer</h2>
        <p>The Content is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>